@import "./normalize.css";
html,
body {
  background-color: #ffffff;
  color: #333333;
  min-height: 101%;
  font-family: sans-serif;
  font-weight: 300;
  font-feature-settings: "palt";
}
body {
  font-size: 1.25em;
}
a {
  text-decoration: underline solid;
}
a:link:hover,
a:visited:hover,
a:link:active,
a:visited:active {
  color: #999999;
}
a:link,
a:visited {
  color: #000000;
}
a {
  transition: color 0.125s;
}
#global,
#profile,
#menu,
#copyright,
.entry,
.ads {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 35em;
}
aside.ads:nth-child(1) > ins.adsbygoogle {
  height: 140px !important;
}
#global p {
  margin: 5em 0;
}
#global p a:link:hover,
#global p a:visited:hover,
#global p a:link:active,
#global p a:visited:active {
  color: #999999;
}
#global p a:link,
#global p a:visited {
  color: #000000;
}
#global p a {
  transition: color 0.125s;
}
#profile {
  margin-top: 5em;
  margin-bottom: 0;
}
#profile nav p {
  font-size: 0.75em;
}
#profile nav p a {
  margin-right: 0.5em;
}
#profile .entry__content p {
  margin: 0;
  font-size: 0.75em;
}
#profile figure {
  margin: 0;
}
#profile figure figcaption {
  margin-bottom: 0.5em;
}
#profile figure p {
  float: left;
  margin: 0 1em 1em 0;
}
#menu {
  margin-bottom: 5em;
}
#menu::after {
  display: block;
  content: "";
  clear: both;
}
#menu p.links {
  float: right;
  margin-right: 4.5%;
  width: 45%;
  text-align: right;
}
#menu p.links a {
  margin-left: 0.5em;
}
#menu p.kind {
  float: left;
  margin-left: 4.5%;
  width: 45%;
  text-align: left;
}
#menu p.kind a {
  margin-right: 0.5em;
}
#menu p {
  font-size: 0.75em;
}
#menu hr {
  margin-bottom: 0.5em;
}
.entry header h1 a {
  text-decoration: none;
  line-height: 1.414em;
}
.entry header h1 a:link:hover,
.entry header h1 a:visited:hover,
.entry header h1 a:link:active,
.entry header h1 a:visited:active {
  color: #ff9933;
}
.entry header h1 a:link,
.entry header h1 a:visited {
  color: #000000;
}
.entry header h1 a {
  transition: color 0.125s;
}
.entry header p {
  display: flex;
  flex-direction: row;
  font-size: 0.865em;
}
.entry header p span {
  text-align: right;
}
.entry header p time {
  text-align: left;
}
.entry header p time,
.entry header p span {
  display: block;
  width: 50%;
}
.entry__content .content__card--affiliate {
  margin: 1em 0;
  background-color: #ffffff;
  padding: 0.25em 1em;
  border-radius: 3px;
  border: 1px solid #669900;
  overflow: hidden;
}
.entry__content .content__card--affiliate::after {
  display: block;
  content: "";
  clear: both;
}
.entry__content .content__card--affiliate ul {
  clear: left;
}
.entry__content .content__card--affiliate ul li a:link:hover,
.entry__content .content__card--affiliate ul li a:visited:hover,
.entry__content .content__card--affiliate ul li a:link:active,
.entry__content .content__card--affiliate ul li a:visited:active {
  color: #ff9933;
}
.entry__content .content__card--affiliate ul li a:link,
.entry__content .content__card--affiliate ul li a:visited {
  color: #666666;
}
.entry__content .content__card--affiliate ul li a {
  transition: color 0.125s;
}
.entry__content .content__card--affiliate ul li.gearbest::before {
  background-color: #ffda00;
}
.entry__content .content__card--affiliate ul li.banggood::before {
  background-color: #ff6e26;
}
.entry__content .content__card--affiliate ul li.aliexpress::before {
  background-color: #ff4747;
}
.entry__content .content__card--affiliate ul li.rakuten::before {
  background-color: #e61717;
}
.entry__content .content__card--affiliate ul li.amazon::before {
  background-color: #febd69;
}
.entry__content .content__card--affiliate ul li::before {
  width: 3px;
  height: auto;
  top: 0;
  bottom: 0;
  left: -0.5em;
  border-radius: 3px;
}
.entry__content .content__card--affiliate p {
  margin: 0.8em 0;
  padding: 0;
  float: right;
}
.entry__content .content__card--affiliate h1 {
  font-size: 1.2em;
  float: left;
}
.entry__content .content__card--affiliate h1 a {
  text-decoration: underline;
}
.entry__content .content__card--affiliate h1 a:link:hover,
.entry__content .content__card--affiliate h1 a:visited:hover,
.entry__content .content__card--affiliate h1 a:link:active,
.entry__content .content__card--affiliate h1 a:visited:active {
  color: #ff9933;
}
.entry__content .content__card--affiliate h1 a:link,
.entry__content .content__card--affiliate h1 a:visited {
  color: #000000;
}
.entry__content .content__card--affiliate h1 a {
  transition: color 0.125s;
}
.entry__content .content__card--website blockquote {
  margin-top: 0.5em;
  font-size: 0.75em;
  color: #666666;
}
.entry__content .content__card--website cite {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  color: #669900;
}
.entry__content .content__card--website h1 + p {
  margin: 0;
}
.entry__content .content__card--website h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  color: #000000;
}
.entry__content .content__card--website a {
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0.25em 01em;
  border-radius: 3px;
  transition: border-color 0.125s;
  text-decoration: none;
}
.entry__content .content__card--website a:hover,
.entry__content .content__card--website a:active {
  border: 1px solid #0099cc;
}
.entry__content .content__card--website a:link,
.entry__content .content__card--website a:visited {
  border: 1px solid #cccccc;
}
.entry__content .content__card--thumbnail {
  display: block;
  width: 100%;
}
.entry__content .content__card--thumbnail img {
  border-radius: 3px;
  height: auto;
  width: 100%;
}
.entry__content strong {
  font-weight: 600;
}
.entry__content p.img > a > img {
  border-radius: 3px;
  border: 1px solid #ffffff;
  height: auto;
  max-height: 100%;
}
.entry__content *:not(pre) > code {
  background-color: #cccccc;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.1em 0.25em;
}
.entry__content pre {
  background-color: #000000;
  color: #ffffff;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  overflow-x: scroll;
}
.entry__content pre,
*:not(pre) > code {
  font-family: "Inconsolata", monospace;
}
.entry__content dl dd + dt {
  margin-top: 0.25em;
}
.entry__content dl dd {
  margin-left: 1em;
}
.entry__content dl dt {
  margin-bottom: 0.25em;
}
.entry__content ul {
  list-style: none;
}
.entry__content ul li {
  position: relative;
  line-height: 1.414em;
}
.entry__content ul li::before {
  display: block;
  position: absolute;
  content: "";
  width: 0.5em;
  height: 2px;
  border-radius: 100%;
  background-color: #669900;
  top: 0.75em;
  left: -0.875em;
}
.entry__content ul,
.entry__content ol {
  padding-left: 1em;
}
.entry__content ul li,
.entry__content ol li {
  margin: 0.125em 0 0.125em 0.5em;
}
.entry__content ul li wbr:last-child,
.entry__content ol li wbr:last-child {
  display: none;
}
.entry__content blockquote {
  position: relative;
  margin: 1em;
}
.entry__content blockquote::before {
  position: absolute;
  left: -0.75em;
  bottom: 0;
  top: 0;
  display: block;
  content: "";
  width: 3px;
  background-color: #663366;
  border-radius: 6px;
}
.entry__content blockquote *:last-child {
  margin-bottom: 0;
}
.entry__content blockquote *:first-child {
  margin-top: 0;
}
.entry__content hr {
  margin: 2em auto;
  width: 91%;
  background-color: #cccccc;
  border-radius: 3px;
  border: none;
  height: 3px;
}
.entry__content p {
  line-height: 1.727em;
}
.entry__content h6 {
  font-weight: normal;
  text-decoration: underline;
}
.entry__content h5 {
  font-size: 1em;
}
.entry__content h4 {
  font-size: 1.125em;
}
.entry__content h3 {
  font-size: 1.25em;
}
.entry__content h2 {
  font-size: 1.375em;
}
.entry__content h1 {
  font-size: 1.5em;
}
.entry__content h1,
.entry__content h2,
.entry__content h3,
.entry__content h4,
.entry__content h5,
.entry__content h6 {
  margin: 1em 0;
}
.entry__content #profile__information {
  text-align: center;
}
.entry__content #profile__information img {
  margin: 0 auto;
  width: 256px;
  height: 256px;
  border: none;
}
.entry__home .entry__content .archives li,
.entry__archives .entry__content .archives li,
.entry__related .entry__content .archives li {
  margin-bottom: 1em;
  font-size: 0.75em;
}
.entry__home .entry__content .archives li a.title,
.entry__archives .entry__content .archives li a.title,
.entry__related .entry__content .archives li a.title {
  display: block;
  font-size: 1.25em;
  line-height: 1.727em;
}
#copyright {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  font-size: 0.75em;
}
@media screen and (max-width: 37.5em) {
  body {
    font-size: 1.125em;
  }
  #profile .entry__content p {
    display: inline;
  }
  #profile figure p {
    text-align: center;
    float: none;
  }
  #menu p.kind,
  #menu p.links {
    float: none;
    width: auto;
    text-align: left;
    margin: 1em 0;
  }
  #menu p.kind a,
  #menu p.links a {
    margin: 0 0.5em 0 0;
  }
}
@media screen and (max-width: 20em) {
  body {
    font-size: 1em;
  }
}
