/* 2024-03-07 212:10:30 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-foreground: theme("colors.gray.10");
    --theme-foreground-link: theme("colors.blue.35");
    --theme-foreground-title: theme("colors.gray.0");
    --theme-foreground-listitem: theme("colors.blue.30");
    --theme-foreground-cite: theme("colors.green.35");

    --theme-background: theme("colors.gray.95");
    --theme-background-content: theme("colors.gray.100");
    --theme-background-inactive: theme("colors.gray.95");
    --theme-background-avatar: theme("colors.gray.100");

    --theme-border: theme("colors.gray.90");
    --theme-border-quote: theme("colors.purple.85");
    --theme-border-thumbnail: theme("colors.gray.100");
    --theme-border-embedded: theme("colors.blue.80");
    --theme-border-inactive: theme("colors.gray.80");
    --theme-border-store: theme("colors.green.80");

    --theme-foreground-code: theme("colors.gray.95");
    --theme-background-code: theme("colors.gray.10");

    --theme-foreground-code-inline: theme("colors.gray.10");
    --theme-background-code-inline: theme("colors.gray.90");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-foreground: theme("colors.gray.90");
      --theme-foreground-link: theme("colors.blue.90");
      --theme-foreground-title: theme("colors.gray.100");
      --theme-foreground-listitem: theme("colors.blue.90");
      --theme-foreground-cite: theme("colors.green.50");

      --theme-background: theme("colors.gray.0");
      --theme-background-content: theme("colors.gray.0");
      --theme-background-embedded: theme("colors.gray.30");
      --theme-background-inactive: theme("colors.gray.20");
      --theme-background-avatar: theme("colors.gray.100");

      --theme-border: theme("colors.gray.20");
      --theme-border-thumbnail: theme("colors.gray.30");
      --theme-border-embedded: theme("colors.sky.50");
      --theme-border-inactive: theme("colors.gray.30");
      --theme-border-store: theme("colors.green.60");

      --theme-foreground-code: theme("colors.gray.95");
      --theme-background-code: theme("colors.gray.10");

      --theme-foreground-code-inline: theme("colors.gray.90");
      --theme-background-code-inline: theme("colors.gray.20");
    }
  }

  html,
  body {
    color: var(--theme-foreground);
    background-color: var(--theme-background);
  }

  body > * {
    @apply max-w-2xl p-4 mx-auto;
  }

  a {
    @apply underline hover:decoration-2;
    color: var(--theme-foreground-link);
  }
}

@layer components {
  .card-rounded {
    @apply border-8 rounded-3xl;

    border-color: var(--theme-border);
    background-color: var(--theme-background-content);
  }

  .card-rounded-md {
    @apply border-[6px] rounded-2xl;

    border-color: var(--theme-border);
    background-color: var(--theme-background-content);
  }

  #global p a img,
  #profile figure p a img {
    background-color: var(--theme-background-avatar);
  }

  .entry {
    & > header {
      & {
        @apply mb-4;
      }

      & > h1 {
        @apply text-3xl font-bold my-4 sm:my-0;
      }

      & > h1 > a {
        color: var(--theme-foreground-title);
      }

      & > h1 > a:hover,
      & > h1 > a:active {
        color: var(--theme-foreground-link);
      }

      & > p {
        @apply flex my-4;
      }

      & > p > * {
        @apply w-2/4 text-sm;
      }

      & > p > *:first-child {
        @apply text-left;
      }

      & > p > *:last-child {
        @apply text-right;
      }
    }
  }

  .entry__content {
    & > * {
      @apply mb-4;
    }

    & > h2 {
      @apply text-2xl font-bold;
    }

    & > h3 {
      @apply text-xl font-bold;
    }

    & > h4 {
      @apply text-lg font-bold;
    }

    & > h5 {
      @apply text-base font-bold;
    }

    & > h6 {
      @apply text-base;
    }

    & p {
      @apply leading-8;
    }

    & hr {
      @apply my-4 border-4 rounded-2xl;
      border-color: var(--theme-border);
    }

    & > ul,
    & > ol,
    & > dl {
      @apply my-4;
    }

    & ul > li,
    & ol > li {
      @apply ml-4 leading-7;
    }

    & ul > li {
      @apply list-disc;
    }

    & ol > li {
      @apply list-decimal;
    }

    & ul > li:last-child,
    & ol > li:last-child,
    & dl > dd:last-child {
      @apply mb-1;
    }

    & li::marker {
      @apply text-blue-50;
      color: var(--theme-foreground-listitem);
    }

    & blockquote {
      @apply relative pl-3;
    }

    & blockquote::before {
      @apply absolute top-0.5 bottom-0.5 left-0 w-1 content-[''] rounded-lg;
      background-color: var(--theme-border-quote);
    }

    & pre > code,
    & *:not(pre) > code {
      @apply font-mono text-sm;
    }

    & pre > code {
      @apply block px-4 py-2 rounded-sm overflow-x-scroll shadow-inner shadow-gray-0;
      color: var(--theme-foreground-code);
      background-color: var(--theme-background-code);
    }

    & *:not(pre) > code {
      @apply px-1.5 py-0.5 rounded-sm;
      color: var(--theme-foreground-code-inline);
      background-color: var(--theme-background-code-inline);
    }

    & .content__card--thumbnail img {
      @apply rounded-sm border-4 shadow-md;
      border-color: var(--theme-border-thumbnail);
    }

    & .content__card--website {
      & > a,
      & > div {
        @apply block rounded-sm border-4 px-4 py-2 no-underline shadow-md;

        & * {
          @apply truncate;
        }

        & h2 {
          @apply font-bold;
        }

        & cite {
          @apply text-sm not-italic underline;
        }
      }

      & > a {
        & p {
          @apply my-1;
        }

        & p img {
          @apply inline align-[-3px] mr-1;
        }

        &:link,
        &:visited,
        &:hover,
        &:active {
          border-color: var(--theme-border-embedded);
        }

        &:link,
        &:visited {
          & h2 {
            color: var(--theme-foreground);
          }

          & cite {
            color: var(--theme-foreground-cite);
          }
        }

        &:hover,
        &:active {
          & h2,
          & cite {
            @apply underline decoration-2;
          }
        }
      }

      & > div {
        & {
          border-color: var(--theme-border-inactive);
          background-color: var(--theme-background-inactive);
        }

        & small {
          & {
            @apply text-xs;
          }

          &::before {
            @apply content-['（'];
          }

          &::after {
            @apply content-['）'];
          }
        }
      }
    }

    & .content__card--affiliate {
      & {
        @apply rounded-sm border-4 pl-4 pr-2 py-2 shadow-md;
        border-color: var(--theme-border-store);
      }

      &::after {
        @apply content-[''] block clear-both;
      }

      & h2 {
        @apply mb-2;

        & a {
          @apply font-bold;
          color: var(--theme-foreground);
        }

        & + div > a > img {
          border-color: var(--theme-border);
        }
      }

      & ul li {
        & {
          @apply leading-7 list-['▸'] ml-2 pl-1 dark:text-gray-25;
        }

        &.amazon::marker {
          @apply text-[#FF9900];
        }

        &.amazon a {
          @apply decoration-[#FF9900];
        }

        &.rakuten::marker {
          @apply text-[#D70000];
        }

        &.rakuten a {
          @apply decoration-[#D70000];
        }

        & a {
          color: var(--theme-foreground);
        }
      }
    }

    & .archives li {
      @apply mb-3;
    }

    & .archives li time {
      @apply block text-xs;
    }

    & .archives li span {
      @apply mx-1;
      color: var(--theme-foreground);
    }

    & .logs {
      overflow-wrap: anywhere;
    }

    & .logs *:first-child {
      @apply ml-0;
    }

    & .logs * {
      @apply mx-1.5 text-nowrap;
    }

    & #profile__information img {
      @apply inline-block dark:rounded-3xl;
      background-color: var(--theme-background-avatar);
    }

    & #profile__information h2 {
      @apply text-2xl font-bold my-2;
    }

    & #profile__information p {
      @apply leading-8;
    }
  }
}
