@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-brighter text-darkest;
  }

  a {
    @apply text-teal underline;
  }

  .e-content {
    & h2 {
      @apply text-2xl font-bold my-4;
    }
    & h3 {
      @apply text-xl font-bold my-4;
    }
    & h4 {
      @apply text-lg font-bold my-4;
    }
    & h5 {
      @apply font-bold my-4;
    }
    & h6 {
      @apply my-4;
    }

    & p {
      @apply leading-8 mb-4;
    }
    & hr {
      @apply border-4 rounded-xl my-4 border-bright;
    }

    & em {
      @apply italic;
    }
    & strong {
      @apply font-bold;
    }

    & blockquote {
      @apply card-quote;
    }

    & ul {
      @apply list-disc leading-7 ml-4;
    }
    & ol {
      @apply list-decimal leading-7 ml-4;
    }
    & dl {
      @apply leading-7;
    }

    & dl > dt {
      @apply mt-2;
    }

    & dl > dd {
      @apply ml-4;
      display: list-item;
      list-style-type: square;
    }

    & > ul,
    & > ol {
      @apply mb-4;
    }

    & pre,
    & *:not(pre) > code {
      @apply font-mono;
    }
    & pre {
      @apply bg-darker text-brightest rounded-xl px-4 py-2 overflow-x-scroll;
    }
    & *:not(pre) > code {
      @apply bg-bright px-0.5 rounded-sm;
    }
  }
}

@layer utilities {
  .card {
    @apply relative pl-3;
  }

  .card::before {
    @apply block absolute top-0 bottom-0 left-0 w-1 rounded;
    content: "";
  }

  .card-notify {
    @apply card;
  }

  .card-notify::before {
    @apply bg-yellow;
  }

  .card-quote {
    @apply card;
  }

  .card-quote::before {
    @apply bg-pink;
  }

  .card-frame {
    @apply border-8 border-bright bg-brightest rounded-2xl;
  }
}
